@font-face {
    font-family: "roboto";
    src: url(Roboto-VariableFont_wdth\,wght.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "roboto";
    line-height: 1.5;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.navbar ul{
    display: flex;
    color: #f9faf8;
    gap: 15px;
    list-style-type: none;
    font-size: 24px;
}

.hero .container{
    display: flex;
    max-width: 10000px;
}


.hero img{
    max-width: 500px;
}

.hero h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero p{
    color: #e5e7eb;
    font-size: 18px;
}

.hero button{
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
}

