@font-face {
    font-family: "roboto";
    src: url(Roboto-VariableFont_wdth\,wght.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "roboto";
    line-height: 1.5;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #1f2937;
}

.navbar ul{
    display: flex;
    color: #e5e7eb;
    gap: 15px;
    list-style-type: none;
}

